#floor{
position:relative;

width:800px;
height:600px;

background-image:url("majaplaan.jpg");
background-size:cover;
background-position:center;
}

.table{
position:absolute;
width:50px;
height:50px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
background:lightgreen;
}

.free{ background:lightgreen; }
.reserved{ background:red; }
.recommended{ background:gold; }

#table-0{
top:194px;
left:78px;
}

#table-1{
top:300px;
left:102px;
}

#table-2{
top:405px;
left:72px;
}

#table-3{
top:517px;
left:181px;
}

#table-4{
top:489px;
left:284px;
}

#table-5{
top:517px;
left:503px;
}

#table-6{
top:490px;
left:599px;
}

#table-7{
top:357px;
left:196px;
}

#table-8{
top:357px;
left:243px;
}

#table-9{
top:357px;
left:290px;
}

#table-10{
top:357px;
left:337px;
}

#table-11{
top:410px;
left:540px;
}

#table-12{
top:40px;
left:320px;
}